<div class="item">
  <div>Menu</div>
  <div class="details">
    <div class="info">
      <a
        aria-label="collaborate"
        target="_blank"
        rel="noopener"
        href="https://www.risen-one.com/collaborate"
        title="Collaborate"
      >
        Collaborate
      </a>
    </div>
    <div class="info">
      <a
        aria-label="Success Stories"
        target="_blank"
        rel="noopener"
        href="https://www.risen-one.com/success-stories"
        title="Success Stories"
      >
        Success Stories
      </a>
    </div>
    <div class="info">
      <a
        aria-label="Connect"
        target="_blank"
        rel="noopener"
        href="https://www.risen-one.com/connect"
        title="Connect"
      >
        Connect
      </a>
    </div>
  </div>
</div>
